/*------------------------------------------------------------------ GLOBALS */

html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  /* 1rem = 10px, 10px/16px = 62.5% */
}

/* ----------------------------------------------------------------- BUTTONS */

/* Call out button styles and animation */

.btn--cta,
.btn--cta:link,
.btn--cta:visited {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 16px;
  display: inline-block;
  border-radius: 8px;
  transition: all .2s;
  position: relative;
  border: 1.5px solid #e43fce;
  background: #fff;
  color: #e43fce;
  cursor: pointer;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 12px 16px;
  display: inline-block;
  border-radius: 8px;
  transition: all .2s;
  position: relative;
  font-size: 14px;
  border: 1.5px solid #e43fce;
  background: #fff;
  color: #e43fce;
  cursor: pointer; 
}

.btn:hover,
.btn--cta:hover {
  background-image: linear-gradient(to right bottom, #f97ae8, #e43fce);
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 1px 7px #555;
}
.btn:hover::after,
.btn--cta:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus,
.btn--cta:active, .btn--cta:focus {
  outline: none;
  transform: translateY(-10px);
  box-shadow: 0 1px 12px #555;
}

/*---------------------------------------------------------------- NAV BAR */

.navbar {
  padding: 0;
  
}

.navbar-default {
  margin: 0;
  padding: 5px 0;
  background-color: #333;
  border: none;
}

.navbar-nav {
  font-family: "KoHo", sans-serif;
  text-align: center;
}

/* .navbar-brand {
  font-family: "Srisakdi", sans-serif;
  font-size: 32px;
  padding: 10px 20px;
} */

/* .navbar-default .navbar-brand {
  color: #fff;
  transition: 0.5s ease;
} */

/* .navbar-default .navbar-brand:hover {
  color: #e517c9;
  transition: 0.5s ease;
} */

.navbar-default .navbar-nav > li > a {
  color: #eaeaea;
  font-size: 18px;
  transition: 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #e517c9;
  transition: 0.5s ease;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e517c9;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border-color: #333;
}

/*--------------------- HEADER SHOWCASE */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-img {
  position: absolute;
  background-image: url("../images/food1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px; /* Same as showcase min height */
  /*z-index: -1;*/
}

.opaque-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 450px;
}

#showcase h1 {
  font-family: "Srisakdi", sans-serif;
  font-size: 85px;
  color: #e517c9;
  text-shadow: 2px 2px 1.5px #333;
  font-weight: 700;
  margin: 3rem;
}

.one-liner {
  padding-bottom: 2rem;
}

.border {
  font-size: 18px;
  text-shadow: 2px 2px 1.5px #333;
}

/*------------------------- SECTION A */

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 0;
  padding: 25px;
}

.f-content-container {
  display: flex;
  flex-direction: column;
}

.f-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-content-item:not(:first-child) {
  padding-top: 25px;
}

.thumb-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.content-paragraph {
  font-family: "KoHo", sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0 0;
  padding-bottom: 30px;
}

.heading {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}



/*------------------------- SECTION B */

.service {
  display: flex;
  flex-direction: column;
  
}

.service__box {
  background-color: #f4f2f2;
}

.service__item {
  margin: 0;
  padding: 1rem;
}

.service__photo {
  width: 100%;
  display: block;
  transition: all .2s;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  margin: 1rem;
  color: #333;
}

.service__paragraph {
  text-align: center;
  font-family: "KoHo", sans-serif;
  color: #333;
  font-size: 1.7rem;
  padding: 15px 30px 5px;
}

.btn-inline {
  display: flex;
  justify-content: center;
  border: none;
  color: #e517c9;
  font-size: 1.5rem;
  padding-bottom: 2px;
  margin-bottom: 30px;
  background: transparent;
  cursor: pointer;
  transition: all .2s;
}

span {
  margin-left: 3px;
}

.btn-inline:hover {
  color: #333;
}

.btn-inline:hover span {
  margin-left: 8px;
  transition: margin-left .2s;
}


/*------------------------------- MENU */

.menu {
  padding-top: 50px;
  padding-bottom: 5px;
}

/*--------------------------- ABOUT US */

.main_divider {
  margin: 25px 25px;
}

.about_wrapper{
  margin: 5px;
  padding: 20px;
}

.about_wrapper > h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-size: 2.5em;
  font-weight: 900;
}

.bg-color {
  margin-top: 70px;
  width: 100%;
  height: auto;
  padding: 12px 12px;
  background: #e517c9;
  border-radius: 10px;
}

.txt {
  padding-bottom: 12px;
  font-size: 70px;
  font-weight: 900;
  text-align: right;
  color: #333;
}

.love {
  font-size: 18.5vw;
  margin: 0;
  padding: 4px 0;
  text-align: center;
}

.bw-img {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.blackandwhite {
  border-radius: 10px;
  filter: grayscale(100%);
}

#section-d {
  padding: 0 18px 25px;
  font-size: 15px;
  color: #fff;
}

/*----------------------------  CONTACT */

.contact-heading {
  margin-top: 75px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-left: 18px;
  padding-right: 18px;
  letter-spacing: 3px;
}

.contact-heading > h3 {
  color: #e517c9;
  line-height: 30px;
  padding-top: 10px;
}

.form-group {
  font-size: 14px;
  letter-spacing: 3px;
  margin: 0 25px;
  margin-bottom: 15px;
  text-align: left;
  color: #e517c9;
}

.sub {
  margin-bottom: 28px;
  margin-top: 14px;
}

/*---------------------------- GALLERY */
/*
#main {
  padding-bottom: 45px;
}
*/
.img-heading {
  margin-top: 35px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-left: 18px;
  padding-right: 18px;
  letter-spacing: 3px;
}

.img-heading > h3 {
  color: #e517c9;
  line-height: 30px;
  padding-top: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #666;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: 0.8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: 0.8;
}

/*------------------------------ FOOTER */

#main-footer {
  margin: 0;
  background: #333;
  color: #e43fce;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container :nth-child(1) {
  order: 2;
}

.footer-container :nth-child(2) {
  order: 3;
}

.list {
  list-style: none;
  font-size: 1.3rem;
  color: #eaeaea;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-bottom: 3px;
}

.logo {
  font-family: "Srisakdi", sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 1.5px #777;
  margin-bottom: 1.6rem;
}

.copyright {
  font-size: .9rem;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
}

.social-paragraph {
  color: #eaeaea;
  font-size: 1.4rem;
  margin: 2rem 0;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 2rem;
}

.social-list-item {
  list-style: none;
}

.fa-instagram,
.fa-facebook,
.fa-twitter,
.fa-youtube {
  margin-right: 10px;
  font-size: 1.7rem;
  color: #eaeaea;
}

/* ------------------------------------- */



/*
.address p {
  font-size: 12px;
  padding: 3px;
  margin: 0;
}

.social {
  text-align: center;
  line-height: 35px;
  font-size: 16px;
}

.fab {
  letter-spacing: 15px;
  color: #fff;
  transition: 0.5s ease;
}

.fab:hover {
  letter-spacing: 15px;
  color: #e43fce;
  transition: 0.5s ease;
}

.fa-instagram,
.fa-facebook,
.fa-twitter,
.fa-youtube {
  font-size: 25px;
} */

/*---------------------- MEDIA QUERIES */
/*
@media (min-width: 767px) {
  p {
    font-size: 1.3em;
  }

  #showcase h1 {
    font-family: "Srisakdi", sans-serif;
    font-size: 11em;
    text-shadow: 2px 2px 1.5px #333;
    color: #e517c9;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 25px;
  }

  #showcase .border {
    font-size: 35px;
    text-shadow: 2px 2px 1.5px #333;
  }

  #showcase .content-wrap, 
  #section-a .content-wrap {
    padding: 10px 1.5em;
}

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    grid-gap: 4em;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    padding-top: 64px;
    padding-bottom: 5px;
  }

  .menu-pos {
    justify-content: center;
  }

  #section-a .content-text {
    columns: 1;
    padding-bottom: 35px;
    padding-right: 65px;
    
  }

  #section-a .content-text p {
    padding: 5px 0;
    padding-bottom: 20px;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box {
    display: flex;
    padding-top: 35px;
  }

  .content-text {
    padding: 0 10px;
  }

  .contact-heading {
    margin-top: 100px;
  }

  form {
    margin-top: 45px;
  }
  
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }

  .main_divider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .about_wrapper {
    margin: 5px;
    padding: 30px 70px;
  }

  .bg-color {
    border-radius: 10px;
    width: 100%;
    height: 600px;
    padding: 0 70px;
  }

  .love {
    font-size: 9vw;
    padding: 25px 0;
  } 

  .blackandwhite {
    margin-top: 70px;
    border-radius: 10px;
    width: 100%;
    height: 600px;
  }

  #section-d {
    font-size: 18px;
  }

  .about-paragraph {
    color: #f4f2f2;
  }


  .gallery-container {
    margin-top: 32px;
    margin-bottom: 98px;
  }
  .img-heading {
    margin-top: 64px;
  }

  .pic {
    border: 1px solid #e43fce;  
    /* float: left;
    height: 300px;
    width: 300px;
    margin: 20px;
    /* overflow: hidden;
  }

  .grow img {
    height: 300px;
    width: 300px;
   
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }

  .grow img:hover {
    width: 400px;
    height: 400px;
  }
}




@media (min-width: 1025px) {
  .container {
    margin-top: 112px;
  }

  .gallery-container {
    margin-top: 91px;
    margin-bottom: 132px;
  }
  .img-heading {
    margin-top: 111px;
  }

  .img-heading > h3 {
    font-size: 4em;
    color: #e517c9;
    line-height: 30px;
    padding-top: 10px;
  }

  .main_divider {
    margin-top: 3em;
  }

  .love {
    font-size: 9vw;
    padding: 26px 0;
  }

  .about_wrapper {
    margin: 5px;
    padding: 80px 70px;
  }

  .contact-heading {
    margin-top: 100px;
  }

  .page-header {
    margin: 10px 0 20px;
  }

  .h3 {
    font-size: 3em;
  }

  /* #main-footer {
    margin-top: 12em;
  }
}

@media (min-width: 1140px) {
  .love {
    font-size: 8vw;
    padding: 5px 0;
  }
}

@media (max-width: 767px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-item {
    flex-basis: 49.8%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
}
@media (max-width: 480px) {
  
  .navbar-default {
    margin: 0;
    padding: 5px 0;
    background-color: #333;
    border: none;
  }

  .container-fluid {
    padding-right: 11px;
 }

  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .lightbox-content {
    width: 90%;
    margin: 20% auto;
  }
} */

/*---------------------- TESTIMONIALS */

.page-header {
  padding-bottom: 9px;
  margin: 50px 0 20px;
  border-bottom: none;
}

.block-divider--short {
  width: 35px;
}

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #e517c9;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
*,
*:before,
*:after {
  box-sizing: border-box;
}
*/

.gallery-border {
  max-width: 100%;
  border-radius: 10px;
}

p {
  margin: 0 0 1em 0;
}

.wrap {
  padding: 0 25px;
}

.media {
  margin-bottom: 2em;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
}

.media > .title {
  grid-area: title;
}
.media > .img {
  grid-area: img;
}
.media > .content {
  grid-area: bd;
}
.media > .footer {
  grid-area: ft;
}

.media {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}

.border-left {
  padding: 0px 20px;
  margin: 0;
  font-size: 17.5px;
  border-left: 2px solid #e517c9;
}

.border-right {
  padding: 0px 20px;
  margin: 0;
  font-size: 17.5px;
  border-right: 2px solid #e517c9;
  border-left: none;
}

.quote {
  margin: 0;
  padding: 0;
  text-align: right;
}

.alignment {
  text-align: left;
}

.quote-name {
  font-size: 18px;
  text-align: right;
}

.ratings {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.quote>i {
  font-size: 14px;
  color: yellow;
}

/*-------------------------- BACK TO TOP*/

/* #topBtn {
  position: fixed;
  background: transparent;
  bottom: 18px;
  right: 10%;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.fas {
  font-size: 40px;
  color: rgba(222, 14, 222, 0.5);
} */

/*------------------------------- MODALS*/

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #666;
}

.share-your-email {
  color: #666;
  font-size: 10px;
}