
/*-------------------------------------- GLOBALS */

body, html {
  height: 100%;
  margin: 0;
  font-family: "KoHo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

/*-------------------------------------- NAVBAR */

.navbar-default {
  background-color: #282e34;
  border-color: #1f2328;
}

.container-fluid {
  padding-right: 60px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  font-family: "Srisakdi",sans-serif;
  font-size: 2em;
  font-weight: 400px;
  padding: 12px 15px;
}

.navbar-default .navbar-brand {
  color: #fff;
  transition: 1s ease-out;
}

.navbar-default 
.navbar-brand:focus, 
.navbar-default 
.navbar-brand:hover {
  color: #FB5EFF;
  background-color: transparent;
  transition: 0.5s ease;
}

.navbar-default
.navbar-nav>li>a {
  color: #fff;
  background-color: transparent;
  transition: 1s ease-out;
}

.navbar-default 
.navbar-nav>li>a:hover {
  color: #777;
  transition: 0.5s ease;
}

/*-------------------------------------- PARALLAX */

.pimg1, .pimg2, .pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
  fixed = parallx
  scoll = normal
  */
  background-attachment: fixed;
}

/*----------------------------------------- IMAGES */

.pimg1 {
  background-image: url('../images/chicken_wings.jpg');
  min-height: 100%;
}

.pimg2 {
  background-image: url('../images/lamb_curry.jpeg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../images/lamb_pumpkin_curry.jpg');
  min-height: 400px;
}

/*--------------------------------- MENU CONTAINER */

.section {
  text-align: justify;
  padding: 30px 25px;
}

/*.menu-container {
  display: flex;
}*/

.menu-container .box {
  /*border: 1px #000 solid;*/
  padding: 0 20px;
}

#r-more {
  text-align: right;
  text-decoration: none;
}

/*----------------------------- SOCIAL NETWORKING  */

.social-container {
  display: flex;
  justify-content: center;
  padding: 45px;
  font-size: 2em;
}

.social {
  margin: 40px 20px;
}

.social-container a {
  color: #fff;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  color: #282e34;
  transition: 0.5s ease;
}

/*------------------------------- OFFERS CONTAINER */

.box h3{
  text-align: center;
  padding-bottom: 18px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext a{
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 900;
  transition: 1s ease-out;
}

.ptext a:hover{
  color: #666;
  text-decoration: none;
  font-weight: 900;
  transition: 0.5s ease;
}

.ptext-bottom {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext>h3{
  position: relative;;
  top: -150px;
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #fff;
}

.ptext .border {
  background-color: #76808A;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  border-radius: 18px;
}

.ptext-bottom .border {
  background-color: #76808A;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  border-radius: 18px;
}

.ptext .border.trans {
  background-color: rgba(0,0,0,0.3);
}

/*-------------------------------------- FOOTER */

#main-footer {
  background-color: #282e34;
  padding: 5px 0;
  text-align: center;
  color: #fff;
}

/*------------------------------- MEDIA QUERIES */

@media(min-width: 768px){
  .menu-container {
    display: flex;
  }
}

@media (min-width: 768px){
.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}
@media(max-width: 768px) {
  
  .pimg1, .pimg2, .pimg3 {
      background-attachment: scroll;
  }

  .ptext {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 18px;
      letter-spacing: 8px;
      text-transform: uppercase;
  }

  .ptext .border {
      background-color: #76808A;
      color: #fff;
      padding: 20px;
      border-radius: 18px;
  }
}

@media(max-width: 568px){
  .ptext {
    font-size: 12px;
  }

}

@media(max-width: 438px){
  .ptext {
    font-size: 8px;
  }

}

@media(max-width: 378px){
  .ptext {
    font-size: 8px;
  }

}

@media (min-width: 500px){
  .ptext-bottom {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }

}


